
@{
    ViewBag.Title = "Fail";
}

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("New Project", "newProject", "Project")</li>
    <li>@Html.ActionLink("All Project", "getProjects", "Project")</li>
    <li>@Html.ActionLink("New Task", "newTask", "Task")</li>
    <li>@Html.ActionLink("All Task", "getTasks", "Task")</li>
    <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
</ul>
<br /><br /><br /><br />

<h2>Fail to create project</h2>

