@model Model.Department


    ViewBag.Title = "Delete Department";
}

<div class="navbar-header">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("New User", "newUser", "Account")</li>
        <li>@Html.ActionLink("All Users", "getUsers", "Account")</li>
        <li>@Html.ActionLink("New Department", "newDepartment", "Department")</li>
        <li>@Html.ActionLink("All Departments", "getDepartments", "Department")</li>
        <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
    </ul>
</div>
<br /><br /><br />


    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isDepartmentActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isDepartmentActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ComapanyID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ComapanyID)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
            </div>
        }
    </div>
