
@{
    ViewBag.Title = "Success";
}

<div class="navbar-header">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("New User", "newUser", "Account")</li>
        <li>@Html.ActionLink("All Users", "getUsers", "Account")</li>
        <li>@Html.ActionLink("New Department", "newDepartment", "Department")</li>
        <li>@Html.ActionLink("All Departments", "getDepartments", "Department")</li>
        <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
    </ul>
</div>
<br /><br /><br />

<h2>Successfully created department</h2>
